/chromium
/cef_user_data
/dconf
/Element
/exercism
/filezilla
/github-copilot
/google-chrome
/gtk-3.0
/gtk-4.0
/ibus
/inkscape
/JetBrains
/kde.org
/keepassxc
/libreoffice
/Mousepad
/nwg-look
/obsidian
/pacseek
/pulse
/rncbc.org
/session
/spotify
/spotify-player
/spotify-tui
/systemd
/Thunar
/torbrowser
/vlc
/xournalpp
/xsettingsd
/Nextcloud
